<!doctype html>
<html lang="en">
    <head>
        <title>User page</title>
        <link th:href="@{/bootstrap/css/bootstrap.min.css}"	rel="stylesheet" media="screen"/>
        <link th:href="@{/css/secondary.css}" rel="stylesheet"/>
		<script th:src="@{/jquery/jquery.min.js}"></script>  
		<script th:src="@{/popper/popper.min.js}"></script>  
		<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <body>
        <a class="btn btn-secondary p-1 m-3" href="/">
            <img alt="icon for go back"src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-chevron-left-512.png">
            Retour
        </a>
        <div class="row" style="text-align: -webkit-center;">
            <div class="col-md-6">
                <div class="card" style="width: 60%;">
                    <div class="card-body">
                      <h3 class="card-title">Total users</h3>
                      <h4 class="card-text">2</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card" style="width: 60%;">
                    <div class="card-body">
                      <h3 class="card-title">Active users</h3>
                      <h4 class="card-text">1</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card m-5">
                    <div class="card-body">
                        <h3 class="card-title">Users</h3>
                        <div class="row">
                            <div class="col-md-3">
                                Server
                            </div>
                            <div class="col-md-3">
                                User ID
                            </div>
                            <div class="col-md-3">
                                Username
                            </div>
                            <div class="col-md-3">
                                Status
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                http://127.0.0.1:4567
                            </div>
                            <div class="col-md-3">
                                0
                            </div>
                            <div class="col-md-3">
                                Tom
                            </div>
                            <div class="col-md-3">
                                ACTIVE
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                http://127.0.0.1:2345
                            </div>
                            <div class="col-md-3">
                                0
                            </div>
                            <div class="col-md-3">
                                Toto
                            </div>
                            <div class="col-md-3">
                                INACTIVE
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

